<div class="modal", tabindex="-1", data-controller="modal", data-action="turbo:frame-load->modal#open">
  <%= turbo_frame_tag "modal" do %>
    <turbo-frame id="confirmation">
      <div style="text-align: center">
        <h1>Done!</h1>
        <p>Your booking has been confirmed:</p>
        <p><%= @restaurant.name %></p>
        <p>Date</p>
        <p>Number of people</p>
        <button class="button purple medium">Share with your guests</button>
        <%= link_to "See all bookings!", user_path(current_user) %>
      </div>
    </turbo-frame>
  <% end %>
</div>






<%# <turbo-frame id="confirmation">
  <div style="text-align: center">
    <h1>Confirm booking</h1>
    <p><%= @restaurant.name</p> %>
    <%# <p>at <strong><%= @slot.start_time</strong></p> %>
    <%# <button class="button purple medium">Confirm</button>
    <%= link_to "Back to restaurant", restaurant_path(@restaurant) %>
  <%# </div> %>
<%# </turbo-frame> %> %> %> %>
