<%= image_tag ("walk-in-profile.jpg"), class: "image" %>
<div class="logo">
  <%= image_tag ("Logo-Walkin.png"), class: "logo" %>
</div>

<div class="d-flex align-items-start">
  <div class="user">
    <h1><%= @user.name %></h1>
    <p><%= @user.location %></p>
  </div>
</div>
<div class="background_color">
  <div class="booking">
    <div class="booking_title">
      <h2>Booked</h2>
    </div>
    <div class="booking_description">
      <% if @bookings.empty?%>
          <p>Oops! You don't have any bookings. Not feeling hungry?</p>
      <% else %>
        <%= link_to restaurant_path(@last_booking.restaurant.id) do %>
          <div class="booking_card d-flex">
            <%= cl_image_tag @last_booking.restaurant.photo.key, height: 100, width: 100, crop: :fill %>
            <div class="d-flex align-items-start flex-column" style="height: 20px; padding-top: 6px; padding-left: 18px">
              <div class="restaurant_name"><strong><%= @last_booking.restaurant.name %></strong></div>
              <div><i class="fa-regular fa-calendar icon medium"></i>: <%= @last_booking.restaurant.date %></div>
              <div class><i class="fa-regular fa-clock icon medium"></i>: <%= @last_booking.slot.start_time %> : 00 </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="favorites">
    <div class="favorites_title">
      <h2>Favourites</h2>
    </div>
    <div class="favorites_description">
      <%= render "shared/index_card_favourites" %>
    </div>
  </div>
</div>

<%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "button_logoff" %>
<div>
  <a
  href="<%= url ="https://www.google.com/maps/dir/?api=1&destination=#{@last_booking.restaurant.latitude},#{@last_booking.restaurant.longitude}&travelmode=walking" %>"
  class="direction">
  <span><i class="fa-solid fa-location-dot fa-2xl" style="color: #9382FF;"></i></span>
  <div class="liquide maps-button" data-bs-toggle="modal" data-bs-target="#restaurantFilterModal"></div>
  </a>
</div>

<%# <div class="modal fade" id="restaurantFilterModal" aria-hidden="true" aria-labelledby="restaurantFilterModalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalToggleLabel2">Location</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/map" %>
      <%# </div>
    </div>
  </div>
</div> %>
