<div>
  <h1>WalkIn</h1>
  <p>The one stop solution for restaurant reservations</p>
  <%# <%= simple_form_for (@restaurant) do |f| %>
    <%# <%= f.input :address %>
    <%# <%= f.input :opening_time, as: :integer, html5: true %>
    <%# <%= f.input :closing_time, as: :integer, html5: true %>
    <%# <%= f.input :total_seats_available, collection: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"] %>
    <%# <%= f.button :submit %>
    <%# <%= link_to "Find a table", restaurants_path %>
 <%# <% end %>
</div>

  <%= form_for @restaurant, url: restaurants_path, method: :get do |f| %>
    Location: <%= f.text_field :address %><br />
    time: <%= f.number_field :opening_time %><br />
    time: <%= f.number_field :closing_time %><br />
    number of people: <%= f.number_field :total_seats_available<br /> %>
  <%= f.submit %>
<% end %>
