<div class="intro">
  <h1>WalkIn</h1>
  <img src="/app/assets/images/Logo.png" alt="logo">
  <p id="top_text">The one stop solution for </p>
  <p id="bottom_text">restaurant reservations</p>
</div>

<div class="container">
  <div class="form">
   <%= form_for @restaurant, url: restaurants_path, method: :get do |f| %>
    <div>
      Where do you want to eat?<br /> <%= f.text_field :address %><br />
    </div>
      What's your availability?<br />
      <div class="time">
        <%= f.number_field :opening_time %>
      -
        <%= f.number_field :closing_time %><br />
    </div>
      Nimber of people:<br /> <%= f.select :total_seats_available, 1..10 %><br />
      <%= f.submit "Find a Table"%>
    <% end %>
  </div>
</div>
