<div class="intro">
  <div class="top">
    <div class="head">
      <%= image_tag("Logo.png", height: '50', width: '50', class: "logo") %>
      <h1>WalkIn</h1>
    </div>
    <div class="text">
      <p>The one stop solution for </p>
      <p>restaurant reservations</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="form">
   <%= form_for @restaurant, url: restaurants_path, method: :get do |f| %>
    <div>
      Where do you want to eat?<br /> <%= f.text_field :address %><br />
      date: <%= f.date_field :date %><br />

    </div>
      What's your availability?<br />
      <div class="time">
        <%= f.number_field :opening_time %>
      -
        <%= f.number_field :closing_time %><br />
    </div>
      Number of people:<br /> <%= f.select :total_seats_available, 1..10 %><br />
      <%= f.submit "Find a Table"%>
    <% end %>
  </div>
</div>
