<div class="container">
  <div class="header-home-main">
    <div class="home-heading">
      <div class="logo-purple-box">
        <div class="logo-box-content">
          <div class="logo-title-row">
            <%= image_tag("Logo-Walkin.png", class: "logo") %>
            <h1>WalkIn</h1>
            </div>
            <p>Revolutionising restaurant reservations</p>
          </div>
        </div>
      </div>

      <div class="home-img"><%= image_tag("walk--in-home.jpg") %></div>
      <div class="home-text">
        <p>Need to make a last minute dinner reservation?</p>
        <a href="#home-form" class="button purple large" data-controller="scroll-to">Start here</a>
      </div>
    </div>
  </div>

  <%# FORM %>
  <div class="container">
    <div class="form home" id="home-form">
      <div class="home-copy-text">
        <p>WalkIn lets you see available restaurants all in one place. Tap into the hottest new food spots near you.</p>
        <p>Let's get started!</p>
      </div>
      <div id="form-home-container">
        <%= form_for @restaurant, url: restaurants_path, method: :get do |f| %>
          <div class="form-row">
            <div class="form-tag">
              <%= image_tag("pin.png", class: "icon medium", style: "width: 20px") %>
            </div>
            <div class="form-text">
              <h4>Where do you want to eat?</h4><br />
              <div id="location-input">
                <%= f.text_field :address, placeholder: "London", label: false, class: "form-input" %><br />
              </div>
            </div>
          </div>
          <div>
          <div class="form-row">
            <div class="form-tag">
              <i class="fa-regular fa-calendar icon medium"></i>
            </div>
            <div class="form-text">
              <h4>What day?</h4><br />
              <div >
                <%= f.date_field :date, label: false, class: "form-input" %><br />
              </div>
            </div>
          </div>
          <div>
          <div class="form-row">
            <div class="form-tag">
              <%= image_tag("clock.png", class: "icon medium") %>
            </div>
            <div class="form-text">
              <h4>What's your availability?</h4><br />
              <p class="short-form-box">
                <select class="form-select form-input" name="restaurant[opening_time]", id="opening_time", aria-label="Default select example">
                  <option value="12">12:00</option>
                  <option value="13">13:00</option>
                  <option value="14">14:00</option>
                  <option value="15">15:00</option>
                  <option value="16">16:00</option>
                  <option value="17">17:00</option>
                  <option value="18", selected>18:00</option>
                  <option value="19">19:00</option>
                  <option value="20">20:00</option>
                  <option value="21">21:00</option>
                  <option value="22">22:00</option>
                  <option value="23">23:00</option>
                  <option value="00">00:00</option>
                  <option value="1">1:00</option>
                  <option value="2">2:00</option>
                  <option value="3">3:00</option>
                  <option value="4">4:00</option>
                  <option value="5">5:00</option>
                  <option value="6">6:00</option>
                  <option value="7">7:00</option>
                  <option value="8">8:00</option>
                  <option value="9">9:00</option>
                  <option value="10">10:00</option>
                  <option value="11">11:00</option>

                </select>  -  <select class="form-select form-input" name="restaurant[closing_time]", id="closing_time", aria-label="Default select example">
                  <option value="12">12:00</option>
                  <option value="13">13:00</option>
                  <option value="14">14:00</option>
                  <option value="15">15:00</option>
                  <option value="16">16:00</option>
                  <option value="17">17:00</option>
                  <option value="18">18:00</option>
                  <option value="19">19:00</option>
                  <option value="20">20:00</option>
                  <option value="21" selected>21:00</option>
                  <option value="22">22:00</option>
                  <option value="23">23:00</option>
                  <option value="00">00:00</option>
                  <option value="7">7:00</option>
                  <option value="8">8:00</option>
                  <option value="9">9:00</option>
                  <option value="10">10:00</option>
                  <option value="11">11:00</option>
                </select>
              </p>
            </div>
          </div>
          <div>
          <div class="form-row">
            <div class="form-tag">
              <%= image_tag("person.png", class: "icon medium", style: "width: 20px") %>
            </div>
            <div class="form-text">
              <h4>How many people?</h4><br />
              <div >
                <select class="form-select form-input" name="restaurant[total_seats_available]", id="restaurant_total_seats_available", aria-label="Default select example">
                  <option value="1">1</option>
                  <option value="2", selected>2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
          <%= f.submit "Find a Table", class: "button purple large", style: "margin-top: 25px" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>

  const changeColor = (event) => {
    event.currentTarget.style.color = "black"
  }

  document.getElementById('restaurant_address').addEventListener('click', changeColor)
  document.getElementById('closing_time').addEventListener('click', changeColor)
  document.getElementById('opening_time').addEventListener('click', changeColor)
  document.getElementById('restaurant_date').addEventListener('click', changeColor)
  document.getElementById('restaurant_total_seats_available').addEventListener('click', changeColor)

</script>
