<div class="container">
  <div class="index-header">
    <h2>Your search</h2>
    <button type="button"
      class="search-select" data-bs-toggle="modal"
      data-bs-target="#filterModal">
      Filter  <%= image_tag("filter.png") %>
    </button>
    <div class="modal fade" id="filterModal" aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1>Filters</h1>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(@restaurant, method: :get) do |f| %>
              <div class="filter-section">
                <h2>Cuisine</h2>
                <div class="form">
                  <%= f.input :cuisine,
                    as: :check_boxes,
                    label: "Select below:",
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'filter-list',
                    item_wrapper_class: 'filter',
                    input_html: {class: 'filter-check'},
                    collection: ["Italian", "Japanese", "Indian", "Chinese", "Thai", "Spanish", "Middle Eastern", "Turkish", "Mexican", "British", "French", "Malaysian", "Taiwanese",
                    "Seafood", "North African", "West African", "Gastropubs", "Contemporary European", "Fusion", "Vegetarian"] %>
                </div>
              </div>
              <div class="filter-section" style="margin-top: 50px;">
                <h2>Rating</h2>
                <div class="form rating-list">
                  <%= f.input :rating, label: "Select below:", input_html: { data: {controller: "star-rating"}}, collection: (1..5).to_a %>
                  <%= f.hidden_field :address, value: @params[:address] %>
                  <%= f.hidden_field :date, value: @params[:date] %>
                  <%= f.hidden_field :opening_time, value: @params[:opening_time] %>
                  <%= f.hidden_field :closing_time, value: @params[:closing_time] %>
                  <%= f.hidden_field :total_seats_available, value: @params[:total_seats_available] %>
                </div>
              </div>
              <div class="modal-footer">
                <%= f.submit "Apply", class: "button purple large" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to root_path, style: "text-decoration: none" do %>
  <div class="form-input results">
    <span><%= @restaurant_address %>, <%= @date %>, <%= @needed_after %> - <%= @needed_before %>, <%= @needed_seats %> guests </span>
  </div>
  <% end %>
  <div class="index-items">
    <div class="menu nav-btns">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <input class="menu_input nav-link active" id="btn2 pills-home-tab" name="menu" type="radio" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" />
            <label class="menu_label" for="btn2 pills-home-tab">
              <div class="fa fa-bars"></div>
              <div class="menu_text">
              List
              </div>
            </label>
        </li>

        <li class="nav-item" role="presentation">
          <input class="menu_input nav-link" id="btn3 pills-profile-tab" name="menu" type="radio" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true" />
            <label class="menu_label" for="btn3 pills-profile-tab">
              <div class="fa fa-map-pin"></div>
              <div class="menu_text">
                Map
              </div>
            </label>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0"><%= render "shared/index_card" %></div>
      <div class="map tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0"><%= render "shared/map" %></div>
    </div>
  </div>

</div>
