<h2>Your search</h2>

<%= form_with(url: restaurants_path(@restaurants), method: :get, local: true) do |form| %>
    <%= form.select :order, ["italian", "indian"] %>
    <%= form.submit "Sort" %>
<% end%>


<% @restaurants.each do |restaurant| %>

<div>
  <%= cl_image_tag restaurant.photo.key, height: 200, width: 390, crop: :fill %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.rating %></p>
  <p><%= restaurant.description %></p>
  <p><%= restaurant.cuisine %></p>

  <% end %>
</div>

<div>
  <%= render "shared/map" %>
</div>
