<div class= container>
  <div class="restaurant-images">
    <%= cl_image_tag @restaurant.photo.key, height: 200, width: 390, crop: :fill %>
  </div>
      <div class="restaurant-text" data-controller="restaurant-show">
    <div class="restaurant-heading">
      <h2><%= @restaurant.name %></h2>
    </div>

      <%= link_to restaurant_favourite_restaurants_path(@restaurant), data: {turbo_method: :post} do %>
        <h1>Favourite me</h1>
      <% end %>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
        </div>
        <div class="carousel-item">
          <div class="restaurant-map">
            <p>Location:</p>
              <div><%= render "shared/map" %></div>
          </div>
        </div>
      </div>
      <div>
      <div class="right-heading">
        <p><%= @restaurant.rating %> <i class="icon-light fa-sharp fa-solid fa-star"></i></p>
        <p><%= @restaurant.cuisine %></p>
      </div>
      <div class="restaurant-times">
        <div class="restaurant-times-grid">


          <turbo-frame id="covers-index">
            <% @available_slots.each do |slot| %>
                <%= link_to restaurant_slots_path(@restaurant, query: {date: @params["date"], time: slot.start_time}) do %>
                  <p><%= slot.start_time %> : 00</p>
                <% end %>
            <% end %>
          </turbo-frame>

        </div>
      </div>

      <div class="restaurant-description">
        <p><%= @restaurant.description %></p>
      </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="reviews">
  <h2>See what people are saying:</h2>
  <p>Number of reviews: <%= @restaurant.reviews.count %></p>
  <p><% @restaurant.reviews.each do |review| %></p>
    <div class="reviews d-flex justify-content-center mt-2">
      <div class="px-4"><p><strong><%= review.user.name %></strong></p></div>
      <div><p><%= review.content %></p></div>
    </div>
  <% end %>
</div>

<div class="more-restaurants">
  <h2>More tables at</h2>
  <div class="restaurant-cards-small row"></div>
</div>
